extends includes/layout

block content
    //- .container.text-center
    //-     a(href='newcard')
    //-         button.nav(type='button') New Card
    //-     a(href='organizer')
    //-         button.nav(type='button') Organizer

    br
    h2.text-center All Problem Statement Cards
    .row.text-center.work-pad
        if isEmpty
            h3 There are no cards in the database yet.
        else
            each card in data
                if card.var1 && card.link12 && card.var2 && card.link23 && card.var3
                    .col-md-3
                        div.cardborder_home
                            p
                                b Goal:
                                |  #{card.goal}
                            p
                                b Need:
                                |  #{card.need}
                            p
                                b Current Solution:
                                |  #{card.current_solution}
                            p
                                b Problem:
                                |  #{card.problem}

                            p
                                b Solution Ideas:
                                |  #{card.solution_ideas}

                            p
                                b Current Benefits:
                                |  #{card.current_benefits}

                            p
                                b Comments:
                                |  #{card.comment}
                            p
                                b Created By:
                                |  #{card.email}

                            p
                                b ------------------------
                            p
                                b   #{card.var5}

                            p
                            if(card.var5)
                              img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                            p
                                //- b Link 4-5:
                                |   #{card.link45}

                            p
                                //- b Variable 4:
                                |  #{card.var4}

                            p
                            if(card.var4)
                              img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                            p
                                |   #{card.link34}

                            p
                                //- b Variable 3:
                                |  #{card.var3}

                            p
                            img(src='/img/long-arrow-right.png' style="width:20%;height:20%")

                            p
                                //- b Link 2-3:
                                |
                                b   #{card.link23}

                            p
                                //- b Variable 2:
                                |  #{card.var2}

                            p
                            img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                            p
                                //- b Link 1-2:
                                |
                                b #{card.link12}


                            p
                                //- b Variable 1:
                                |  #{card.var1}




                if !(card.var1 && card.link12 && card.var2 && card.link23 && card.var3)
                    .col-md-3
                        div.cardborder_home_t
                            p
                                b Goal:
                                |  #{card.goal}
                            p
                                b Need:
                                |  #{card.need}
                            p
                                b Current Solution:
                                |  #{card.current_solution}
                            p
                                b Problem:
                                |  #{card.problem}

                            p
                                b Solution Ideas:
                                |  #{card.solution_ideas}

                            p
                                b Current Benefits:
                                |  #{card.current_benefits}

                            p
                                b Comments:
                                |  #{card.comment}
                            p
                                b Created By:
                                |  #{card.email}
