extends includes/layout

block content
    .container.text-center
        a(href='newcard')
            button.nav(type='button') Create New Card
    br
    h2.text-center Requested Cards
    .row.text-center.work-pad
        if isEmpty
            h3 There are no cards in the database yet.
        else
            each card in data
                .col-md-3
                    div.cardborder_untagged
                        p
                            b Goal:
                            |  #{card.goal}
                        p
                            b Need:
                            |  #{card.need}
                        p
                            b Current Solution:
                            |  #{card.current_solution}
                        p
                            b Problem:
                            |  #{card.problem}
                        p
                            b Comments:
                            |  #{card.comment}
                        p
                            b Created By:
                            |  #{card.email}
