extends includes/layout

block content
    h2.text-center Your cards:
    hr
    //- .row.text-center.work-pad
    //- right has cards that need to be assigned, left has cards already assigned
    .row.text-center.work-pad
        .column_big_bar
            if isEmpty
                h3 There are no cards in the database yet.
            else
                h1 Cards to tag:
                each card in data

                    //-  CARDS THAT HAVENT BEEN ASSIGNED
                    if !card.var1 && !card.link12 && !card.var2 && !card.link23 && !card.var3
                        .column_inner
                            div.cardborder_untagged
                                p
                                    b Goal:
                                    |  #{card.goal}
                                p
                                    b Need:
                                    |  #{card.need}
                                p
                                    b Current Solution:
                                    |  #{card.current_solution}
                                p
                                    b Problem:
                                    |  #{card.problem}

                                p
                                    b Solution Ideas:
                                    |  #{card.solution_ideas}

                                p
                                    b Current Benefits:
                                    |  #{card.current_benefits}

                                p
                                    b Comments:
                                    |  #{card.comment}
                                p
                                    b Created By:
                                    |  #{card.email}

                                br
                                form(method='POST', action='/organizer')
                                    p
                                    input(type='text' id="r1" name='var1' placeholder='causal variable 1')

                                    p

                                    label(for='link12choice1')
                                        span.linkbuttons
                                          input#link12choice1(type='radio' name='link12' value='+')
                                          |
                                          b +

                                    br

                                    label(for='link12choice2')
                                        span.linkbuttons
                                          input#link12choice2(type='radio' name='link12' value='-')
                                          |
                                          b --



                                    p
                                    input(type='text' id="r1" name='var2' placeholder='causal variable 2')

                                    p


                                    label(for='link23choice1')
                                        span.linkbuttons
                                          input#link23choice1(type='radio' name='link23' value='+')
                                          |
                                          b +

                                    br

                                    label(for='link23choice2')
                                        span.linkbuttons
                                          input#link23choice2(type='radio' name='link23' value='-')
                                          |
                                          b --


                                    p
                                    input(type='text' id="r1" name='var3' placeholder='causal variable 3')


                                    //- p
                                    //-     b Link 3-4
                                    //- input(type='text' id="r1" name='link34' placeholder='link 3-4')
                                    //- br
                                    //- br


                                    //- p
                                    //-     b Variable 4:
                                    //- input(type='text' id="r1" name='var4' placeholder='variable 4')

                                    //- br
                                    //- br

                                    //- p
                                    //-     b Link 4-5
                                    //- input(type='text' id="r1" name='link45' placeholder='link 4-5')
                                    //- br
                                    //- br

                                    //- p
                                    //-     b Variable 5:
                                    //- input(type='text' id="r1" name='var5' placeholder='variable 5')

                                    br
                                    br
                                    //- IMPORTANT - name=card.id has to find the specific card to set that exact tag
                                    input(type='submit', name=card.id, value='submit')
                                br
                                form(method='POST', action='/organizerdelete')
                                    input(type='submit', name=card.id, value='delete')

        // ALREADY TAGGED CARDS
        .column_big_nobar
            if isEmpty
                h3 There are no cards in the database yet.
            else
                h1 Already tagged cards:
                each card in data
                    if card.var1 && card.link12 && card.var2 && card.link23 && card.var3
                            div.cardborder_tagged
                                p
                                    b Goal:
                                    |  #{card.goal}
                                p
                                    b Need:
                                    |  #{card.need}
                                p
                                    b Current Solution:
                                    |  #{card.current_solution}
                                p
                                    b Problem:
                                    |  #{card.problem}

                                p
                                    b Solution Ideas:
                                    |  #{card.solution_ideas}

                                p
                                    b Current Benefits:
                                    |  #{card.current_benefits}

                                p
                                    b Comments:
                                    |  #{card.comment}
                                p
                                    b Created By:
                                    |  #{card.email}

                                p
                                    b Variable 1:
                                    |  #{card.var1}
                                p
                                    b Link 1-2:
                                    |  #{card.link12}

                                p
                                    b Variable 2:
                                    |  #{card.var2}
                                p
                                    b Link 2-3:
                                    |  #{card.link23}

                                p
                                    b Variable 3:
                                    |  #{card.var3}
                                //- p
                                //-     b Link 3-4:
                                //-     |  #{card.link34}

                                //- p
                                //-     b Variable 4:
                                //-     |  #{card.var4}
                                //- p
                                //-     b Link 4-5:
                                //-     |  #{card.link45}

                                //- p
                                //-     b Variable 5:
                                //-     |  #{card.var5}


                                br
                                form(method='POST', action='/organizerdelete')
                                    input(type='submit', name=card.id, value='delete')
