extends includes/layout

block content
    h2.text-center Organizer:
    hr
    //- .row.text-center.work-pad
    //- right has cards that need to be assigned, left has cards already assigned
    .row.text-center.work-pad
        .column_big_bar
            if isEmpty
                h3 There are no cards in the database yet.
            else
                h1 Untagged Cards:
                each card in data
                    if !card.goal_tag && !card.need_tag && !card.challenge_tag
                        .column_inner
                            div.cardborder_untagged
                                p
                                    b Goal:
                                    |  #{card.goal}
                                p
                                    b Need:
                                    |  #{card.need}
                                p
                                    b Current Solution:
                                    |  #{card.current_solution}
                                p
                                    b Problem:
                                    |  #{card.problem}

                                p
                                    b Solution Ideas:
                                    |  #{card.solution_ideas}

                                p
                                    b Current Benefits:
                                    |  #{card.current_benefits}

                                p
                                    b Comments:
                                    |  #{card.comment}
                                p
                                    b Created By:
                                    |  #{card.email}


                                //- instead of a submit, change this to a checkmark type thing
                                //- card is checkmarked if a causal chain has been created for it
                                form(method='POST', action='/organizerdelete')
                                    input(type='submit', name=card.id, value='delete')

        // already tagged cards
        .column_big_nobar
            if isEmpty
                h3 There are no cards in the database yet.
            else
                h1 Already tagged cards:
                each card in data
                    if card.goal_tag && card.need_tag && card.challenge_tag
                        .column_inner
                            div.cardborder_tagged
                                p
                                    b Goal:
                                    |  #{card.goal}
                                p
                                    b Need:
                                    |  #{card.need}
                                p
                                    b Current Solution:
                                    |  #{card.current_solution}
                                p
                                    b Problem:
                                    |  #{card.problem}

                                p
                                    b Solution Ideas:
                                    |  #{card.solution_ideas}

                                p
                                    b Current Benefits:
                                    |  #{card.current_benefits}

                                p
                                    b Comments:
                                    |  #{card.comment}
                                p
                                    b Created By:
                                    |  #{card.email}

                                p
                                    b Goal Tag:
                                    |  #{card.goal_tag}
                                p
                                    b Need Tag:
                                    |  #{card.need_tag}
                                p
                                    b Challenge Tag:
                                    |  #{card.challenge_tag}
                                br
                                form(method='POST', action='/organizerdelete')
                                    input(type='submit', name=card.id, value='delete')
