extends includes/layout

block content
    br
    h2.text-center Your cards:

    if (!isEmpty)
        .container

            form.text-center(action='/export', method='post' style="margin-top: 20px")
                button.btn.btn-primary.mb-2(type='submit') Export to CSV


    hr
    //- right has cards that need to be assigned, left has cards already assigned
    .row.text-center.work-pad
        .column_big_bar
            if isEmpty
                h3 There are no cards in the database yet.
            else
                h1 Cards to Tag:
                each card in data
                    .col-md-3
                    //-  CARDS THAT HAVENT BEEN ASSIGNED
                    if !(card.var1 && card.link12 && card.var2 && card.link23 && card.var3)
                            //- .column_inner
                            div.cardborder_untagged
                                p
                                    b Goal:
                                    |  #{card.goal}
                                p
                                    b Need:
                                    |  #{card.need}
                                p
                                    b Current Solution:
                                    |  #{card.current_solution}
                                p
                                    b Problem:
                                    |  #{card.problem}

                                p
                                    b Solution Ideas:
                                    |  #{card.solution_ideas}

                                p
                                    b Current Benefits:
                                    |  #{card.current_benefits}

                                p
                                    b Comments:
                                    |  #{card.comment}
                                p
                                    b Created By:
                                    |  #{card.email}

                                p
                                    b ------------------------


                                //this part is really ugly and hacky but basically 3 different divs with 3,4,5 causal variables
                                .form-div1
                                    b How many variables do you want to use?
                                    br
                                    br
                                    select#numvars
                                        option(value='option1') 3 Causal Variables
                                        option(value='option2') 4 Causal Variables
                                        option(value='option3') 5 Causal Variables

                                .form-div3
                                    br
                                    b Displaying 3-variable causal chain:
                                .form-div4
                                    br
                                    b Displaying 4-variable causal chain:
                                .form-div5
                                    br
                                    b Displaying 5-variable causal chain:

                                .form-div5
                                    form(method='POST', action='/organizer', onsubmit='return checkForm(' +card.id+')')
                                        p

                                        input(class=card.id type='text' id="r1" name='var5' placeholder='causal variable 5')
                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")

                                        label(for='link45choice1')
                                            span.linkbuttons.plusbutton
                                              input#link45choice1(class=card.id type='radio' name='link45' value='+')
                                              |
                                              b +



                                        label(for='link45choice2')
                                            span.linkbuttons.minusbutton
                                              input#link45choice2(class=card.id type='radio' name='link45' value='-')
                                              |
                                              b --
                                        p
                                        input(class=card.id type='text' id="r1" name='var4' placeholder='causal variable 4')

                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")


                                        label(for='link34choice1')
                                            span.linkbuttons.plusbutton
                                              input#link34choice1(class=card.id type='radio' name='link34' value='+')
                                              |
                                              b +



                                        label(for='link34choice2')
                                            span.linkbuttons.minusbutton
                                              input#link34choice2(class=card.id type='radio' name='link34' value='-')
                                              |
                                              b --
                                        br

                                        p
                                        input(class=card.id type='text' id="r1" name='var3' placeholder='causal variable 3')


                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")


                                        label(for='link23choice1')
                                            span.linkbuttons.plusbutton
                                              input#link23choice1(class=card.id type='radio' name='link23' value='+')
                                              |
                                              b +



                                        label(for='link23choice2')
                                            span.linkbuttons.minusbutton
                                              input#link23choice2(class=card.id type='radio' name='link23' value='-')
                                              |
                                              b --


                                        p
                                        input(class=card.id type='text' id="r1" name='var2' placeholder='causal variable 2')

                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                                        label(for='link12choice1')
                                            span.linkbuttons.plusbutton
                                              input#link12choice1(class=card.id type='radio' name='link12' value='+')
                                              |
                                              b +



                                        label(for='link12choice2')
                                            span.linkbuttons.minusbutton
                                              input#link12choice2(class=card.id type='radio' name='link12' value='-')
                                              |
                                              b --


                                        p
                                        input(class=card.id type='text' id="r1" name='var1' placeholder='causal variable 1')

                                        br
                                        br
                                        //- IMPORTANT - name=card.id has to find the specific card to set that exact tag
                                        input(type='submit', name=card.id, value='submit')

                                .form-div4
                                    form(method='POST', action='/organizer', onsubmit='return checkForm(' +card.id+')')
                                        p
                                        input(class=card.id type='text' id="r1" name='var4' placeholder='causal variable 4')

                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")


                                        label(for='link34choice1')
                                            span.linkbuttons.plusbutton
                                              input#link34choice1(class=card.id type='radio' name='link34' value='+')
                                              |
                                              b +



                                        label(for='link34choice2')
                                            span.linkbuttons.minusbutton
                                              input#link34choice2(class=card.id type='radio' name='link34' value='-')
                                              |
                                              b --
                                        br


                                        p
                                        input(class=card.id type='text' id="r1" name='var3' placeholder='causal variable 3')


                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")


                                        label(for='link23choice1')
                                            span.linkbuttons.plusbutton
                                              input#link23choice1(class=card.id type='radio' name='link23' value='+')
                                              |
                                              b +



                                        label(for='link23choice2')
                                            span.linkbuttons.minusbutton
                                              input#link23choice2(class=card.id type='radio' name='link23' value='-')
                                              |
                                              b --


                                        p
                                        input(class=card.id type='text' id="r1" name='var2' placeholder='causal variable 2')

                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                                        label(for='link12choice1')
                                            span.linkbuttons.plusbutton
                                              input#link12choice1(class=card.id type='radio' name='link12' value='+')
                                              |
                                              b +



                                        label(for='link12choice2')
                                            span.linkbuttons.minusbutton
                                              input#link12choice2(class=card.id type='radio' name='link12' value='-')
                                              |
                                              b --


                                        p
                                        input(class=card.id type='text' id="r1" name='var1' placeholder='causal variable 1')

                                        br
                                        br
                                        //- IMPORTANT - name=card.id has to find the specific card to set that exact tag
                                        input(type='submit', name=card.id, value='submit')

                                .form-div3
                                    form(method='POST', action='/organizer', onsubmit='return checkForm(' +card.id+')')

                                        p
                                        input(class=card.id type='text' id="r1" name='var3' placeholder='causal variable 3')


                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")


                                        label(for='link23choice1')
                                            span.linkbuttons.plusbutton
                                              input#link23choice1(class=card.id type='radio' name='link23' value='+')
                                              |
                                              b +



                                        label(for='link23choice2')
                                            span.linkbuttons.minusbutton
                                              input#link23choice2(class=card.id type='radio' name='link23' value='-')
                                              |
                                              b --


                                        p
                                        input(class=card.id type='text' id="r1" name='var2' placeholder='causal variable 2')

                                        p

                                        p
                                        img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                                        label(for='link12choice1')
                                            span.linkbuttons.plusbutton
                                              input#link12choice1(class=card.id type='radio' name='link12' value='+')
                                              |
                                              b +



                                        label(for='link12choice2')
                                            span.linkbuttons.minusbutton
                                              input#link12choice2(class=card.id type='radio' name='link12' value='-')
                                              |
                                              b --


                                        p
                                        input(class=card.id type='text' id="r1" name='var1' placeholder='causal variable 1')

                                        br
                                        br
                                        //- IMPORTANT - name=card.id has to find the specific card to set that exact tag
                                        input(type='submit', name=card.id, value='submit')


                                //embedded JS to toggle the fields
                                script.
                                  $('.form-div3').show();
                                  $('.form-div4, .form-div5').hide();
                                  $('#numvars').change(function () {
                                    var selected = $('#numvars option:selected').text();
                                    console.log(selected);
                                    $('.form-div3').toggle(selected == "3 Causal Variables");
                                    $('.form-div4').toggle(selected == "4 Causal Variables");
                                    $('.form-div5').toggle(selected == "5 Causal Variables");

                                  });


                                br
                                form(method='POST', action='/organizerdelete')
                                    input(type='submit', name=card.id, value='delete')



        // ALREADY TAGGED CARDS
        .column_big_nobar
            if isEmpty
                h3 There are no cards in the database yet.
            else
                h1 Tagged Cards:
                each card in data

                    if card.var1 && card.link12 && card.var2 && card.link23 && card.var3
                            div.cardborder_tagged

                                p
                                    b Goal:
                                    |  #{card.goal}
                                p
                                    b Need:
                                    |  #{card.need}
                                p
                                    b Current Solution:
                                    |  #{card.current_solution}
                                p
                                    b Problem:
                                    |  #{card.problem}

                                p
                                    b Solution Ideas:
                                    |  #{card.solution_ideas}

                                p
                                    b Current Benefits:
                                    |  #{card.current_benefits}

                                p
                                    b Comments:
                                    |  #{card.comment}
                                p
                                    b Created By:
                                    |  #{card.email}

                                p
                                    b ------------------------
                                p
                                    b   #{card.var5}

                                p
                                if(card.var5)
                                  img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                                p
                                    //- b Link 4-5:
                                    |   #{card.link45}

                                p
                                    //- b Variable 4:
                                    |  #{card.var4}

                                p
                                if(card.var4)
                                  img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                                p
                                    |   #{card.link34}

                                p
                                    //- b Variable 3:
                                    |  #{card.var3}

                                p
                                img(src='/img/long-arrow-right.png' style="width:20%;height:20%")

                                p
                                    //- b Link 2-3:
                                    |
                                    b   #{card.link23}

                                p
                                    //- b Variable 2:
                                    |  #{card.var2}

                                p
                                img(src='/img/long-arrow-right.png' style="width:20%;height:20%")
                                p
                                    //- b Link 1-2:
                                    |
                                    b #{card.link12}


                                p
                                    //- b Variable 1:
                                    |  #{card.var1}


                                br
                                a(href='/edit?id=' + card.id)
                                  button edit
                                form(method='POST', action='/organizerdelete')
                                    input(type='submit', name=card.id, value='delete')



