extends includes/layout

block content
    h2.text-center Your cards:
    hr
    .row.text-center.work-pad
        if isEmpty
            h3 There are no cards in the database yet.
        else
            each card in data
                .col-md-3
                    div.cardborder
                        p Goal: #{card.goal}
                        p Need: #{card.need}
                        p Current Solution: #{card.current_solution}
                        p Problem: #{card.problem}
                        p Comments: #{card.comment}
                        p Created By: #{card.email}