extends includes/layout

block content
    h2.text-center Your cards:
    hr
    .row.text-center.work-pad
        if isEmpty
            h3 There are no cards in the database yet.
        else
            each card in data
                .col-md-3
                    div.cardborder
                        p
                            b Goal:
                            |  #{card.goal}
                        p
                            b Need:
                            |  #{card.need}
                        p
                            b Current Solution:
                            |  #{card.current_solution}
                        p
                            b Problem:
                            |  #{card.problem}
                        p
                            b Comments:
                            |  #{card.comment}
                        p
                            b Created By:
                            |  #{card.email}

    br
    //- div.center
    //-     script.
    //-          var json2csv = require('json2csv');
    //-          var express = require('express');
    //-          var fs = require('fs');
    //-          var exportCSV;
    //-          exportCSV = function() {
    //-             console.log("exportCSV called");
    //-             var csv = json2csv({ data: tableData, fields: myfields });
    //-             fs.writeFile('/Users/juliawilkins/Desktop/output.csv', csv, function(err) {
    //-             if (err) throw err;
    //-             console.log('file saved');
    //-             });
    //-             };
    //-     button(onclick="exportCSV()") export