extends includes/layout

block content
    h2.text-center Your cards:
    hr
    .row.text-center.work-pad
        if isEmpty
            h3 There are no cards in the database yet.
        else
            each card in data
                .col-md-3
                    div.cardborder
                        p
                            b Goal:
                            |  #{card.goal}
                        p
                            b Need:
                            |  #{card.need}
                        p
                            b Current Solution:
                            |  #{card.current_solution}
                        p
                            b Problem:
                            |  #{card.problem}
                        p
                            b Comments:
                            |  #{card.comment}
                        p
                            b Created By:
                            |  #{card.email}

                        //-  This is where we have the dropdowns for organizers to tag with.
                        // Right now the dropdowns are hardcoded - they would probably eventually need to be more dynamic or stored in lists in the databases

                        form(method='POST', action='/organizer')
                            p
                                b
                                    p Select a goal tag:
                                    select(name='goal_tag' onchange="this.form.submit()")
                                        option(value='research') Research
                                        option(value='community') Community

                                    br
                                    br
                                    br

                                    //- p Select a need tag:
                                    //- select(name='need_tag')
                                    //-     option(value='individual_workspace') Individual Workspace
                                    //-     option(value='collaborative_workspace') Collaborative Workspace
                                    //-     option(value='feel_welcome') Feel Welcome
                                    //- br
                                    //- br
                                    //- br

                                    //- //- ONCHANGE submit - trying to submit 3 inputs from one form here for one overall call to update_card - right now it's stalling weirdly
                                    //- p Select a challenge tag:
                                    //- select(name='challenge_tag' onchange="this.form.submit()")
                                    //-     option(value='squatters') Squatters
                                    //-     option(value='space_problems') Space Problems

            .container
                br

                //- EXPORT CSV BUTTON SHIT
                //- form.text-center(action='', method='post' style="margin-top: 20px")

                    //- button(type='submit' name='export' value='export to csv') Export to CSV
                    //- input(type='submit', name='export', value='export to csv')




